* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-overflow-scrolling: touch;
}

.art-upload .upload-btn {
  border: 1px dashed #e3e3e3 !important;
}

.art-editor ::-webkit-input-placeholder {
  -webkit-text-fill-color: #bdbdbd;
}
.art-editor ::-moz-placeholder {
  color: #ccc;
}
.art-editor input:-ms-input-placeholder {
  color: #ccc;
}
.art-editor textarea:-ms-input-placeholder {
  color: #ccc;
}

.art-editor {
  min-height: 200px;
  /* border-bottom: 1px solid #ccc; */
  background: #fff;
  padding: 18px;
  font-family: "PingFangSC-Regular", "Microsoft YaHei", "微软雅黑", "Hiragino Sans GB",  "宋体", Arial, Verdana, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #484848;

  font-size: 17px !important;
  line-height: 28px !important;
  text-align: left;
}

.art-editor img {padding: 12px 0; width: 100%; height: auto;} 
.art-editor p{color: #484848;}

.art-editor p {
  margin: 0;
}

.art-editor img {
  display: block;
  max-width: 100%;
}

.art-editor .placeholder {
  color: #ccc;
}

.art-editor a {
  color: #3278ee;
  text-decoration: none;
}

.art-upload {
  text-align: center;
  padding: 10px 0;
  background: #fff;
  /* position: fixed; */
  width: 100%;
  bottom: 0;
  left: 0;
}
.art-upload .upload-img {
  display: inline-block;
  vertical-align: bottom;
  width: 25px;
  height: 20px;
  margin-right: 10px;
  background: url(./img/img.png) 0 no-repeat;
  background-size: 100%;
}

.art-img-box.loading {
  opacity: 0.6;
  position: relative;
}
.art-img-box .progress {
  display: none;
  position: absolute;
  width: 0;
  height: 2px;
  top:12px;
  left: 0;
  background: #9554b9;
  z-index: 2;
  transition: width 0.5s;
}
.art-img-box.loading .progress {
  display: block;
}